<div class="recipe recipe-list-item">
  <div class="recipe-cover">
    <img
      src="https://via.placeholder.com/1280x720.png/269fe6"
      alt="temporário"
    />
  </div>
  <div class="recipe-title-container">
    <h2 class="recipe-title">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    </h2>
  </div>

  <div class="recipe-author">
    <span class="recipe-author-item">
      <i class="fa-solid fa-user"></i>
      Gabriel ALmeida
    </span>

    <span class="recipe-author-item">
      <i class="fa-solid fa-calendar"></i>
      31/01/2022 ás 11:21
    </span>

    <span class="recipe-author-item">
      <a href="">
        <i class="fa-solid fa-layer-group"></i>
        <span>Café da manhã</span>
      </a>
    </span>
  </div>

  <div class="recipe-content">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, dolorem
      exercitationem! Suscipit nesciunt, dicta architecto harum praesentium
      reiciendis amet blanditiis quidem quod et consequatur corrupti quo
      inventore voluptatem similique pariatur.
    </p>
  </div>

  <div class="recipe-meta-container">
    <div class="recipe-meta recipe-preparation">
      <h3 class="recipe-meta-title"><i class="fa-solid fa-stopwatch"></i></h3>
      <div class="recipe-meta-text">0 Minutos</div>
    </div>
    <div class="recipe-meta recipe-servings">
      <h3 class="recipe-meta-title"><i class="fa-solid fa-pizza-slice"></i></h3>
      <div class="recipe-meta-text">0 Porções</div>
    </div>
  </div>

  <footer class="recipe-footer">
    <a href="" class="recipe-read-more button button-dark button-full-width">
      <i class="fa-solid fa-eye"></i>
      <span>Ver main...</span>
    </a>
  </footer>
</div>
